[data-anime] {
  opacity: 0;
}
.anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}

.fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

#body-home {
  background: url(/imgs/desert.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  border: none;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.cor-1 {
  color: #3a86ff;
}
